<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .camera-div {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  <body>
    <div class="camera-div">
      <img src="{{ url_for('video')}}" width="63%" />
      

      <img src="{{url_for('static',filename='images/img0.jpg')}}" width="63%" />
      
    </div>

    <script>
   
    </script>
  </body>
</html>
